---
import { Image } from "astro:assets";

import DVD from "../components/DVD.astro";
import Layout from "../layouts/Layout.astro";

import LanisMobile from "../assets/lanis-mobile.png";
import OHS from "../assets/ohs.png";
import November from "../assets/november.png";
import Github from "../assets/github.png";
import {
    LucideApple,
    LucideBot,
    LucideGlobe,
    LucideUser,
    LucideCode,
    LucideMail,
} from "lucide-vue-next";
import { AppStoreIcon, DiscordIcon, GooglePlayIcon } from "vue3-simple-icons";
---

<Layout>
    <div class="flex flex-col gap-4 pb-12">
        <DVD />
        <div class="flex flex-col items-center text-center gap-4">
            <div class="flex flex-col gap-1">
                <h1 class="font-body font-bold text-3xl">
                    Hallo ich bin Dacjan,
                </h1>
                <p class="font-body max-w-120 mx-4">
                    oder mein Name ist Dazijan? Dacijan? Dacian? Viel Spaß beim
                    Aussprechen. <br />

                    Ich programmiere hauptsächlich an meiner Lanis-Mobile App
                    und (leider) Websites. Für Websites benutze ich
                    hauptsächlich Typescript mit Astro, gelegendlich mit einer
                    Prise Vue. Manchmal experimentiere ich auch mit Python und C
                    herum.
                </p>
            </div>
            <div class="flex flex-col gap-4 max-w-160 mx-4">
                <div
                    class="p-4 bg-white border-2 rounded-md shadow-neobrutalism flex flex-col gap-4"
                >
                    <div class="flex items-center gap-4">
                        <div
                            class="flex justify-center items-center border-2 p-2 bg-tertiary w-[90px] h-[90px] rounded-md shadow-neobrutalism"
                        >
                            <Image
                                src={LanisMobile}
                                width={70}
                                height={70}
                                alt="Lanis-Mobile Logo"
                                class="max-w-[70px] max-h-[70px] w-auto h-auto"
                            />
                        </div>
                        <div class="flex flex-col gap-1">
                            <h3 class="text-2xl font-logo text-start">
                                Lanis-Mobile
                            </h3>
                            <div class="flex gap-2 flex-wrap">
                                <a
                                    class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                    href="https://lanis-mobile.alessioc42.dev/"
                                    target="_blank"
                                >
                                    <LucideGlobe size={16} />
                                    Website
                                </a>
                                <a
                                    class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                    href="https://github.com/lanis-mobile/lanis-mobile"
                                    target="_blank"
                                >
                                    <LucideCode size={16} />
                                    Code
                                </a>
                                <a
                                    class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                    href="https://play.google.com/store/apps/details?id=io.github.alessioc42.sph"
                                    target="_blank"
                                >
                                    <GooglePlayIcon size={16} />
                                    Android
                                </a>
                                <a
                                    class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                    href="https://apps.apple.com/de/app/lanis-mobile/id6511247743"
                                    target="_blank"
                                >
                                    <AppStoreIcon size={16} />
                                    iOS
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="font-body text-start">
                        Eine App für das Schulportal Hessen <i
                            >(auch Lanis genannt)</i
                        >
                        in Zusammenarbeit mit dem staatlichen Schulamt für den Landkreis
                        Groß-Gerau und den Main-Taunus-Kreis. Sie ist in <b
                            >Flutter</b
                        > geschrieben und ist Open-Source.<br /><br />

                        Es unterstützt z. B. Push-Benachrichtigungen bei einen
                        neuen Vertretungsplan oder Nachricht.
                    </p>
                </div>
                <div
                    class="p-4 bg-white border-2 rounded-md shadow-neobrutalism flex flex-col gap-4"
                >
                    <div class="flex items-center gap-4">
                        <div
                            class="flex justify-center items-center border-2 p-2 bg-tertiary w-[90px] h-[90px] rounded-md shadow-neobrutalism"
                        >
                            <Image
                                src={OHS}
                                width={70}
                                height={70}
                                alt="Otto-Hahn-Schule Frankfurt Logo"
                                class="max-w-[70px] max-h-[70px] w-auto h-auto"
                            />
                        </div>
                        <div class="flex flex-col gap-1">
                            <h3 class="text-2xl font-logo text-start">
                                OHS Zukunftschancen
                            </h3>
                            <div class="flex gap-2 flex-wrap">
                                <a
                                    class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                    href="https://ohszukunftschancen.de/"
                                    target="_blank"
                                >
                                    <LucideGlobe size={16} />
                                    Website
                                </a>
                                <a
                                    class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                    href="https://github.com/kurwjan/berufsmesse-ohs2025"
                                    target="_blank"
                                >
                                    <LucideCode size={16} />
                                    Code
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="font-body text-start">
                        Eine Seite für die Berufsmesse an der OHS. Sie wurde mit
                        Astro, Typescript und Tailwind geschrieben.
                    </p>
                </div>
                <div
                    class="p-4 bg-white border-2 rounded-md shadow-neobrutalism flex flex-col gap-4"
                >
                    <div class="flex items-center gap-4">
                        <div
                            class="flex justify-center items-center border-2 p-2 bg-tertiary w-[90px] h-[90px] rounded-md shadow-neobrutalism"
                        >
                            <Image
                                src={November}
                                width={70}
                                height={70}
                                alt="9. November Quiz Logo"
                                class="max-w-[70px] max-h-[70px] w-auto h-auto"
                            />
                        </div>
                        <div class="flex flex-col gap-1">
                            <h3 class="text-2xl font-logo text-start">
                                9. November Quiz
                            </h3>
                            <div class="flex gap-2 flex-wrap">
                                <a
                                    class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                    href="https://november.dacjan.de/"
                                    target="_blank"
                                >
                                    <LucideGlobe size={16} />
                                    Website
                                </a>
                                <a
                                    class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                    href="https://github.com/kurwjan/9-november-quiz"
                                    target="_blank"
                                >
                                    <LucideCode size={16} />
                                    Code
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="font-body text-start">
                        Ein Quiz über den 9. November 1918 für eine Messe an der
                        OHS. Es wurde mit Astro, Typescript und Zeitdruck
                        geschrieben. Durch den Zeitdruck sieht es nur auf
                        größeren Bilschirmen gut aus. In Blender habe ich auch
                        im Simpli- / Fern- / Hoog-Style Hintergründe erstellt.
                    </p>
                </div>
                <div
                    class="p-4 bg-white border-2 rounded-md shadow-neobrutalism flex flex-col gap-4"
                >
                    <div class="flex items-center gap-4">
                        <div
                            class="flex justify-center items-center border-2 p-2 bg-tertiary w-[90px] h-[90px] rounded-md shadow-neobrutalism"
                        >
                            <Image
                                src={Github}
                                width={70}
                                height={70}
                                alt="Github Logo"
                                class="max-w-[70px] max-h-[70px] w-auto h-auto"
                            />
                        </div>
                        <div class="flex flex-col gap-1">
                            <h3 class="text-2xl font-logo text-start">
                                Github
                            </h3>
                            <a
                                class="flex items-center gap-1 p-2 border-2 font-body bg-secondary text-sm w-fit rounded-md shadow-neobrutalism base-animation button-active"
                                href="https://github.com/kurwjan"
                                target="_blank"
                            >
                                <LucideUser size={16} />
                                Mein Profil
                            </a>
                        </div>
                    </div>
                    <p class="font-body text-start">
                        Auf meinem Github findest du noch weitere Projekte, z.
                        B.: alte Python APIs für Lanis, Experimente in C, usw.
                    </p>
                </div>
                <hr class="border-1 mt-1 w-full" />
                <div
                    class="p-4 bg-white border-2 rounded-md shadow-neobrutalism flex flex-col gap-4 w-fit self-center"
                >
                    <h3 class="text-2xl font-logo text-center">Kontakt</h3>
                    <div class="flex flex-wrap gap-2">
                        <a
                            class="flex items-center gap-1 p-2 border-2 font-body bg-secondary w-fit rounded-md shadow-neobrutalism base-animation button-active"
                            href="mailto:dac.gapinski@gmail.com"
                            target="_blank"
                        >
                            <LucideMail />
                            E-Mail
                        </a>
                        <button
                            id="discord_contact"
                            class="flex cursor-pointer items-center gap-1 p-2 border-2 font-body bg-secondary w-fit rounded-md shadow-neobrutalism base-animation button-active"
                        >
                            <DiscordIcon />
                            <span>Discord</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <small class="flex justify-center pb-3 font-body">
        Lizensiert unter der EUPL v1.2
    </small>
</Layout>

<script>
    function afterSwap() {
        const button = document.getElementById(
            "discord_contact",
        ) as HTMLButtonElement;
        button.addEventListener("click", () => {
            navigator.clipboard.writeText("kurwjan");
            button.querySelector("span")!.textContent = "Kopiert!";
        });
    }

    document.addEventListener("astro:after-swap", () => afterSwap());

    afterSwap();
</script>
