---
import "@fontsource/anton";
// Supports weights 100-900
import "@fontsource-variable/public-sans";

import { ClientRouter } from "astro:transitions";

import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <title>Dacjan</title>
        <meta
            name="description"
            content="Eine Seite für den extrem schlechten Entwickler Dacjan."
        />

        <meta property="og:title" content="Dacjan" />
        <meta
            property="og:description"
            content="Eine Seite für den extrem schlechten Entwickler Dacjan."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:locale" content="de_DE" />
        <meta property="og:site_name" content="Dacjan" />

        <meta property="twitter:card" content="summary" />
        <meta property="twitter:title" content="Dacjan" />
        <meta
            property="twitter:description"
            content="Eine Seite für den extrem schlechten Entwickler Dacjan."
        />

        <link
            rel="icon"
            type="image/png"
            href="/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <meta name="apple-mobile-web-app-title" content="Dacjan" />
        <link rel="manifest" href="/site.webmanifest" />

        <ClientRouter />
    </head>
    <body class="bg-primary">
        <Header />
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
